/* Base Styles */
.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Header */
.header {
  position: relative;
  background: url("../images/background_header.svg") no-repeat center center /
    cover;
  padding: 30px 30px 40px;
  color: #000000;
  height: 800px;
  max-width: 1600px;
}

.header__nav {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__links {
  color: #000000;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  position: relative;
  display: flex;
  gap: 20px;
  margin-right: 80px;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav__link:hover::after {
  width: 100%;
}

.header__title {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 80px 0px 0px;
  max-width: 729px;
  color: #3496f3; /* or #2f80ed if specified in your Figma/design */
}

.header__span-accent {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  max-width: 729px;
}

.header__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  color: #000000;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  border-radius: 10px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 1;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0;
}

.header__address {
  margin: 0px;
}

.header__footer {
  margin-top: 220px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #6f6f6f;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.header__hours {
  margin-left: 80px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
}

/* Hero Section */
/* .hero {
  background-color: #f5f5f5;
  padding: 60px 20px;
  text-align: center;
}

.hero__title {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero__description {
  max-width: 600px;
  margin: 0 auto 30px;
}

.hero__button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #1878dc;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero__button:hover {
  background-color: #3f96f3;
} */

/* Recipes Section */
.recipes {
  background: url("../images/background_recipes.svg") no-repeat center center /
    cover;
  background-color: #0a2750;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;
  text-align: left;
  max-width: 580px;
  margin: 0 0 24px 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  max-width: 729px;
  text-align: left;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin-bottom: 215px;
}

.recipes__videos-item {
  max-width: 300px;
}

.recipes__iframe {
  width: 100%;
  height: 200px;
  border: none;
  margin-bottom: 10px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* About Section */
.about {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about__image {
  max-width: 646px;
  max-height: 568px;
  border-radius: 10px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.about__title {
  font-size: 32px;
  margin-bottom: 20px;
}

.about__text {
  max-width: 600px;
  font-size: 18px;
}

/* Menu Section */
.menu {
  background-color: #f5f5f5;
  padding: 60px 20px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu__card {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu__item-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.menu__item-description {
  font-size: 16px;
}

/* Reservation Section */
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.reservation__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 385px;
}

.reservation__title {
  font-family: "Noto Serif", serif;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 80px;
  color: #000;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.reservation__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reservation__input {
  padding: 20px 15px 15px 20px;
  border: 1px solid #838383;
  border-radius: 4px;
  max-width: 385px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  box-sizing: border-box;
}

.reservation__input::placeholder {
  color: #838383;
}

.reservation__input:focus {
  outline: 2px solid #3f96f3;
  outline-offset: 2px;
}

.reservation__checkbox-label {
  display: flex;
  font-family: "Inter", sans-serif;
  max-width: 385px;
  width: 100%;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  gap: 10px;
  color: #000;
  margin-top: 20px;
}

.reservation__checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #838383;
  border-radius: 2px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reservation__checkbox:checked {
  background-image: url("../images/check.svg");
  background-color: #1878dc;
}

.reservation__button {
  background-color: #1878dc;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 385px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.reservation__button:hover {
  background-color: #3f96f3;
}

/* Footer
.footer {
  background-color: #f5f5f5;
  padding: 40px 20px;
  text-align: center;
}

.footer__logo {
  width: 120px;
  margin-bottom: 20px;
}

.footer__nav {
  margin-bottom: 20px;
}

.footer__link {
  margin: 0 10px;
  color: #0a2750;
  text-decoration: none;
  font-weight: bold;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 14px;
  color: #777;
} */
